@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic,100italic,100);

body{
    font-family: 'Roboto', sans-serif;
}

* {
    margin:0;
    padding:0;
    vertical-align:baseline;
}

.img-responsive{
    max-width: 800px;
    margin: 20px;
    max-width: 100%;
}

#maceio .row{
    margin: 30px;
}

strong{
    font-size: 16pt;
}

p {
    text-align: justify;
}

section{
    color:#888;
}

section.odd{
    background-color: rgba(236, 240, 241,0.5);
}

.page-header{
    text-align: center;
    font-weight: bold;
    padding-top: 50px
}

.navbar-expand-lg{
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

#inicial{
    background-image:url(img/splash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#hostedby img{
    margin: 20px;
}

#logo, #texto_logo{
    margin-top: 20%;
    margin-bottom: 23%;
    color: #fff;
}

#texto_logo{
    padding-top: 50px;
}

section{
    padding-bottom: 30px;
}

#contato{
    width:100%;
    background:#3498db;
    color:#fff;
    padding: 30px 0;
}

#contato .page-header{
    padding-top: 0;
}

.cycle-slideshow img{
    width: 100%;
}

.btn, .form-control{
    border-radius: 0px;
}

  /*IMAGENS DOS PALESTRANTES*/

.palestrante {
    margin-top: 70px;
}

.palestrante img{
    width: 250px;
    height: 250px;
    border: 8px solid #dadada;
}

.palestrante p{
    padding: 10px;
    margin-top: 40px;
}

#map-canvas {
    width: 80%;
    height: 400px;
}


@media (max-width: 767px) {
    #logo{
        margin-bottom: 0;
    }
    #texto_logo{
        margin-top: 20px;
        padding-top: 0;
        text-align: center;
    }
}
